.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0.5rem auto;
  width: 95%;
  margin: 0.5rem auto;
  border-radius: 1rem;
  border: 2px solid #5611f849;
  position: relative;
}

.item:hover .button-item {
  display: inline;
}

.p-item {
  padding-left: 0.5rem;
}

.button-item {
  display: none;
  position: absolute;
  right: 1%;
  background-color: rgba(48, 6, 199, 0.623);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.p-checked {
  text-decoration-line: line-through;
}

.i-prueba {
  display: none;
}

.s-prueba {
  display: inline-block;
  position: relative;
  height: 2em;
  width: 2em;
  border: 3px solid #949494a8;
  border-radius: 50%;
}

.prueba {
  padding-left: 1em;
  font-size: 1em;
  cursor: pointer;
}

.prueba .i-prueba:checked ~ .s-prueba {
  box-shadow: 0px 0px 30px 0px rgba(61, 31, 100, 0.671);
}

.s-prueba:after {
  content: "";
  position: absolute;
  border: solid rgba(51, 38, 109, 0.788);
  border-width: 0 0.3em 0.3em 0;
  transform: rotate(45deg);
  width: 0.5em;
  height: 1em;
  left: 0.6em;
  top: 0.25em;
  opacity: 0;
  transition: 0.3s ease;
}

.prueba .i-prueba:checked ~ .s-prueba:after {
  opacity: 1;
}
