.item {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0.5rem auto;
  width: 95%;
  margin: 0.5rem auto;
  border-radius: 1rem;
  border: 2px solid #5611f849;
}
